<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<code style="word-wrap: break-word; white-space: pre-wrap;">

==================================================================
https://keybase.io/corvi
--------------------------------------------------------------------

I hereby claim:

* I am an admin of http://www.corvi.co
* I am corvi (https://keybase.io/corvi) on keybase.
* I have a public key with fingerprint 1777 9882 8E6C 13D8 C6FE  B179 8F2D 6AF8 C7D0 E544

To do so, I am signing this object:

{
	"body": {
		"key": {
			"eldest_kid": "012043bc6d0025dc74d2d19ae6014153e8cc0053a771293e98fc1f0006e4b1b1bd880a",
			"fingerprint": "177798828e6c13d8c6feb1798f2d6af8c7d0e544",
			"host": "keybase.io",
			"key_id": "8f2d6af8c7d0e544",
			"kid": "01010f68424ccdd429e746bf939115309e43a42597e0a02d8aa6a70cd3f4b9fc69ca0a",
			"uid": "b69a2d62a1e41d75d8c8b04e9ea97819",
			"username": "corvi"
		},
		"service": {
			"hostname": "www.corvi.co",
			"protocol": "http:"
		},
		"type": "web_service_binding",
		"version": 1
	},
	"ctime": 1510184388,
	"expire_in": 157680000,
	"prev": "e4676403cfb2b01b3a2cfbfa08bc5a6c3ff47cf9c7ebbf8a60e285bee01571bf",
	"seqno": 16,
	"tag": "signature"
}

which yields the signature:

-----BEGIN PGP MESSAGE-----
Version: Keybase OpenPGP v2.0.76
Comment: https://keybase.io/crypto

yMNsAnicbVJ7UFRVHGYBCZaUKDV5LNStJgtkzn3fu8xIOS2j5TgJmoDrLPdxLtwF
9r2LSBCFKBBqDRhjjZZFA62NWppCjgiGxgCCC1pjBRIoCWoyjvHIKTu7o/81v5nz
+P2+7zvf75zTtTAkSKvZs8I89+PF669pejsb3EE5IXu7SjHRKpdg+lKsAAYmWChD
p8tUoMqYHgM4AShSlBgZAIKWJZaSCRnnBcgAnMJpEnKSBABNCiyLEzwJeU6RcAUA
wEBKxFHIHAcELBlTVEsedNgcqsWFZHGWZXmOIzjISDgpcxKjQBFHKYWQGUHhJFYG
kKYoRMy3Ov0MZE4UnDBFtaIc2pgC9v4H/8g3CoXhKIKSJFmmCB6yFCMqPMnjyDbg
IUUKFEHzLAQCIGROEBiBBZJMKpTIKxLDS0LAtzsgJzK8gE4iBBxSuMzSyDEnAgry
UOBZDuf9QCd0WIQiiNCS1eFRsbJkDKU8qgT9t+pv42G5uLg4JQBBIyLaHFaXVbIW
okq+y2XT+4muElsACUXTQw2TqFpkdIeI4IEOp2q1YHocISWX6hfFadQwR5Ecl4zB
rTbVAU2qH0GzDIdeA/iPgR4kCSmGZShASopIiAAXSYFAS0UAnCjRAiORikKxksJL
LBRFhRMYAAmOFiEESAsXFczfld1iRdoM8inkIU2nmmcRXG4HxMrOdhpDgzTaoLAF
wf7PFaSNeOLRl3vnXNS/z0a3nu5YnqdfVWP2/pZlCd14pv2I3dayGTfEGHffyZgz
bNccr8j03cfqmwoOtsWNTnnpsEt1Q66staWbEmYvfNxcb9+YNr3jysSKnemGl/eZ
+72nYLjuy5zI8g8HG7QOImJPyp9ny49O3ryx/u4Gu9l3Miay/4cHrz6ZOVv92S5L
5Ylz/Ltbyh937N/29MzlhUtioo3e7kOGdHIk6uRzzZl1uquZ79fp1lP2oZqMj2bT
wpNmd+uOfmFqmP/e/EvQmi7DRFft8D/fDNrrxXWEZoc6vh383XNwKem9Oj3WE3z8
209qXzqgH912DXbuIht9L8S7ZkfvDay5ndezbKS3qb3vpzfSRlITjqwbb7v3fPGm
/WNtM7QnMsc3ufrEcDpMibv9WANZaQinJqp0UcfmIpZ5O3qEweWVrQPhYbG17uk/
MvXapKKL8bXdfdenNhyeyv18aW5G3ETG6fG9xjuXm96e1JeFdr8S8Xt045LomQv3
Uy915I6daTde80QFp94MOb/IeGueyP4u9qlWe99biWLNyvZE6UCC+kx1mzpw+KtG
41/aB/3JhYbgrGNuV1tzua6IyZ22dlfu89ytirRPVzCDSV9X2MoW6Xdu6ViweTjW
PaRJNP8cfwtveTF1tMX33hXx/Kr5avupxZobBUMr59YuHrCnZbPZvb4Pfs2vev3N
T+uqfKurS7Ye+g/66cUk
=itgV
-----END PGP MESSAGE-----

And finally, I am proving ownership of this host by posting or
appending to this document.

View my publicly-auditable identity here: https://keybase.io/corvi

==================================================================
		</code>
</body>
</html>
